<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555" %></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2779.346704407436!2d-66.4848461840355!3d45.84436007910725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ca69ea85f1b4f19%3A0x9fbb271c63ecf0a5!2s17+MacLaren+Dr%2C+Oromocto%2C+NB+E2V+1L6!5e0!3m2!1sen!2sca!4v1494031570963" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
